<!DOCTYPE html>
<html class="scroll-smooth" lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={assigns[:page_title] && " · LocWise"}>
      <%= assigns[:page_title] || "LocWise" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header>
      <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800 border-b text-white fixed left-0 right-0 top-0 z-50">
        <div class="flex flex-nowrap items-center justify-between mx-auto">
          <div class="flex justify-start items-center shrink-0">
            <button
              :if={@current_area == :internal}
              type="button"
              data-drawer-target="sidebar"
              data-drawer-toggle="sidebar"
              aria-controls="sidebar"
              class="p-2 mr-2 block text-gray-600 rounded-lg cursor-pointer lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <.icon name="menu" class="w-5 h-5" aria-hidden="true" />

              <span class="sr-only">Toggle sidebar</span>
            </button>
            <a href="/" class="flex items-center">
              <img
                src={~p"/images/logo.svg"}
                class="h-5 mr-3 sm:h-7 text-slate-900 dark:text-white"
                alt="LocWise Logo"
              />
            </a>
          </div>
          <div class="flex items-center lg:order-2 gap-4 shrink">
            <%= if @current_user do %>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400 grow">
                <%= @current_user.email %>
              </p>
              <.link
                href={~p"/users/settings"}
                title="Settings"
                class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
              >
                <.icon name="user-cog" class="w-5 h-5 inline-block md:!hidden" />
                <span class="hidden md:inline-block">Settings</span>
              </.link>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                title="Log out"
                class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
              >
                <.icon name="logout" class="w-5 h-5 inline-block md:!hidden" />
                <span class="hidden md:inline-block">Log out</span>
              </.link>
            <% else %>
              <.link
                href={~p"/users/log_in"}
                title="Log in"
                class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
              >
                <.icon name="login" class="w-5 h-5 inline-block md:!hidden" />
                <span class="hidden md:inline-block">Log in</span>
              </.link>
              <.link
                href={~p"/users/register"}
                title="Get started"
                class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm p-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
              >
                <.icon name="rocket" class="w-5 h-5 inline-block md:!hidden" />
                <span class="hidden md:inline-block">Get started</span>
              </.link>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
